**/node_modules/
**/.idea
.DS_Store

# So that nobody accidentally checks in their config.yaml with passwords, etc.
config.yaml

# So that nobody accidentally checks in a private SQL file
*.sql
*.sql.zip

# A batch file that shouldn't be checked in.
downloadDB.bat
