**/node_modules/
**/.idea

# So that nobody accidentally checks in their config.yaml with passwords, etc.
config.yaml

# So that nobody accidentally checks in actual table names
obfuscationCfg.yaml

# So that nobody accidentally checks in a private SQL file
*.sql
*.sql.zip

# A batch file that shouldn't be checked in.
downloadDB.bat

# Vim
# ---
*.sw[op]

# Emacs
# -----
*~

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# OS X
# ----
.DS_Store

# Log files
*.log

